@use '@exhibition/styles/index' as *;

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%; height: auto;
    background-color: black;
    color: $color-surface;
    padding: 0 $padding-description-main-lr;
    display: flex; flex-direction: row; 

    &__map {
        width: 50%; height: auto;
        @include flex-column-center; gap: 2em;
        padding: 2em;
    }

    &__guest {
        width: 50%; height: auto;
        @include flex-column-center; gap: 2em;
        background-color: antiquewhite;
    }

    &__info {
        width: 100%; height: auto;
        @include flex-between; gap: 10em;
        margin-top: 2em; padding-bottom: 2em;
        border-bottom: 1px solid $color-surface;

        &__address {
            @include flex-between; gap: 1em;
        }

        &__phone {
            @include flex-between; gap: 1em;
        }
    }

    &__transportation {
        width: 100%; height: auto;
        @include flex-between; gap: 8em;

        &__subway {
            @include flex-between; gap: 1em;
            margin-top: 2em; margin-bottom: 4em;
        }

        &__bus {
            margin-top: 2em; margin-bottom: 4em;
            @include flex-between; gap: 1em;
        }
    }
}