@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin custom-border($width-border,$type,$color) {
    width: 100%; height: 1.5px;
    border-bottom: $width-border $type $color;
}

@mixin responsive($breakpoint) {
    @if($breakpoint == 'sm') {
        @media (max-width: $breakpoint-sm) {
            @content;
        }
    }
    @else if($breakpoint == 'md') {
        @media (max-width: $breakpoint-md) {
            @content;
        }
    }
    @else if($breakpoint == 'lg') {
        @media (max-width: $breakpoint-lg) {
            @content;
        }
    }
    @else if($breakpoint == 'xl') {
        @media (max-width: $breakpoint-xl) {
            @content;
        }
    }
}

@keyframes underline {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@mixin hover-underline($hover-color) {
    &:hover::after {
        content: '';
        display: block; margin-top: 0.2em;
        width: 100%; height: 2px;
        background-color: $hover-color;
        animation: underline 0.3s ease-in;
    }
}

