// ------------------------------
// COLORS
// ------------------------------
$color-primary: #4f46e5; //메인 색상, 버튼, 링크, 강조 요소, 브랜드 컬러 : 주 시각 포인트
$color-secondary: #7c3aed; // 서브 색상, 탭 선택, 보조 버튼 등  : 보조 시각 포인트
$color-accent: #f472b6; // 포인트 색상, 하이라이트, 강조 텍스트, 알림 뱃지 등
$color-muted: #9ca3af; // 비활성화 상태, 플레이스홀더, 경계선, 디스에이블 버튼 등  : 비활성화 상태
$color-background1: #f9fafb; // 전체 배경색, 페이지 배경, 버튼 배경 등
$color-background2: #232323; // 전체 배경색, 페이지 배경, 버튼 배경 등
$color-background3: #1D1C1E; // 전체 배경색, 페이지 배경, 버튼 배경 등
$color-surface: #ffffff; // 카드, 모달, 팝업 등 내부 배경. background 보다 한층 위 레벨
$color-border-gray: rgba(255, 255, 255, 0.3); // 구분선, 경계선, 버튼 테두리, 프로그레스바 배경 등
$color-border-gray-light: rgba(255, 255, 255, 0.6);
$color-border-light: rgba(255,255,255,1);
$color-text1: #686868; // 메인 텍스트. 일반적인 본문, 제목 등
$color-text2: #f9fafb; // 메인 텍스트. 일반적인 본문, 제목 등
$color-text-light: #6b7280; // 보조 텍스트. 설명, 캡션, 서브 타이틀, 날짜 등
$color-danger: #ef4444; // 에러, 경고. 예: 삭제 버튼, 폼 검증 오류 메시지 등
$color-success: #10b981; // 성공 메시지, 상태 뱃지. 예: 완료, 적용됨, 성공 등의 상태 표시
$color-warning: #f59e0b; // 주의/경고 메시지. 예: 비밀번호 약함, 저장 안됨 등의 표시

// ------------------------------
// TYPOGRAPHY
// ------------------------------
$font-base: 'Inter', sans-serif;
$font-heading: 'Poppins', sans-serif;

//font size
$font-size-2xs: 0.6rem; 
$font-size-xs: 0.75rem;   // 10px
$font-size-sm: 0.875rem;  // 12px
$font-size-base: 1rem;    // 14px
$font-size-lg: 1.125rem;  // 16px
$font-size-xl: 1.25rem;   // 18px

$font-size-title-sm: 1.5rem;
$font-size-title-base: 2rem;
$font-size-title-lg: 2.5rem;
$font-size-title-xl: 3rem;

$font-size-title-sm-mobile: 1.25rem;
$font-size-title-base-mobile: 1.5rem;
$font-size-title-lg-mobile: 2rem;
$font-size-title-xl-mobile: 2.5rem;

$font-size-subtitle-sm: 1.25rem;
$font-size-subtitle-base: 1.5rem;

$font-size-subtitle-sm-mobile: 1rem;
$font-size-subtitle-base-mobile: 1.25rem;

//font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

// ------------------------------
// SPACING
// ------------------------------
$space-1: 0.25rem;
$space-2: 0.5rem;
$space-3: 0.75rem;
$space-4: 1rem;
$space-6: 1.5rem;
$space-8: 2rem;
$space-12: 3rem;

// ------------------------------
// BREAKPOINTS
// ------------------------------
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

// ------------------------------
// Z-INDEX
// ------------------------------
$z-header: 1000;
$z-dropdown: 900;
$z-modal: 1100;
$z-toast: 1200;
$z-overlay: 1300;


// ------------------------------
// PADDING
// ------------------------------
$padding-description-main-lr: 13rem;
$padding-description-main-tb: 3rem;
