@use '@exhibition/styles/index' as *;

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 100%; max-height: 40vh;
    background-color: black;
    color: $color-text2;


    &__header {
        //상 좌우 하
        padding:$padding-description-main-tb * 2 $padding-description-main-lr 1em;
        overflow: hidden;

        //top
        &__top {
            position: fixed;
            top: 0; left: 0;
            width: 100%; max-height: 5vh;

            padding: $padding-description-main-tb * 1.5 calc($padding-description-main-lr + 2em);
            @include flex-between;
            background-color: transparent;
            z-index: 100;
            backdrop-filter: blur(3px);
            will-change: transform, opacity;
                
            svg {
                mix-blend-mode: difference;
                width: 2em; height: 2em;
                fill: $color-text2;
                cursor: pointer;
            }

            &__menu {
                mix-blend-mode: difference;
                @include flex-center;
                flex-direction: row;
                gap: 2em;

                &__item {
                    @include hover-underline($color-text2);

                    a {
                        font-size: $font-size-lg;
                        font-weight: $font-weight-light;
                    }
                }   
            }
        }

        //bottom
        &__bottom {
            //상 우 하 좌 +         
            padding: 4em 2em 2em 2em;
            width: 100%; max-height: 35vh;
        }
    }
}

//전시회 소개 페이지 헤더
.container__header__bottom__inner {

        
    width: inherit; max-height: inherit;
    display: flex; align-items: last baseline; justify-content: space-between;

    //전시회 _ 학과소개 둘다
    &__title {
        position: relative;
        letter-spacing: 0.1em;

        &.exhibition {
            h1 {
                font-size: $font-size-xl;
                font-weight: $font-weight-normal;
            }
        }

        &.department {
            text-align: baseline;
            h1 {
                font-size: $font-size-lg;
                font-weight: $font-weight-normal;
            }
            span {
                font-size: $font-size-base;
                font-weight: $font-weight-light;
                color: $color-text1;
            }
        }
    }

    //전시회 소개 페이지
    &.exhibition {
        width: inherit; max-height: inherit;
        display: flex; align-items: last baseline; justify-content: space-between;

        span {
        
            position: absolute;
            right: 0; margin-top: .5em;
            color: $color-text1;
            font-size: $font-size-2xs;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }
    }

    &__description { //전시회만

        letter-spacing: 0.1em;

        p {
            font-size: $font-size-xl;
            font-weight: $font-weight-normal;
        }

        ul {
            @include flex-center; flex-direction: row; gap: 1.6em;

            li {
                position: relative;
            }
        }
    }

    //학과소개 페이지

    &__department {
        padding-top: 2em;
    }

    &__location {
        font-size: $font-size-sm;
        font-weight: $font-weight-light;
    }

}
