@use '@exhibition/styles/index' as *;

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%; max-height: 10em;
    background-color: black;
    padding: 1em 2em;
    color: $color-text1;
    font-size: $font-size-xs;

    @include flex-between;
}
